.glitch {
    font-size: 4.5rem;
    font-weight: 700;
    /* text-transform: uppercase; */
    position: relative;
    text-align: center;
  
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  
    animation: glitch 1500ms infinite;
  }
  
  .glitch span {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .glitch span:first-child {
    animation: glitch 1650ms infinite;
    clip-path: polygon(0% 0%, 100% 0%, 100% 29%, 0% 25%);
    transform: translate(-0.025em, -0.0125em);
    /* color: green; */
    opacity: 0.8;
  }
  
  .glitch span:last-child {
    animation: glitch 1375ms infinite;
    clip-path: polygon(0 22%, 100% 8%, 100% 100%, 0% 100%);
    transform: translate(0.0125em, 0.025em);
    /* color: red; */
    opacity: 0.8;
  }
  
  /* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */
  
  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    14% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
      text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
  }

  html {
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
    height: 100%;
  }

.hero-background {
  background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,54,1) 48%, rgba(2,0,52,1) 100%);
}

.hero-path {
  display: block;
  box-sizing: border-box;
  height: 5rem;
  background-color: #0b1628;
  width: 100%;
  clip-path: ellipse(100% 100% at 4.22% 0%);
  }

.projects-path {
  display: block;
  box-sizing: border-box;
  height: screen;
  background-color: #0b1628;
  width: 100%;

}
  @media only screen and (min-width: 900px) {
    .projects-path {
      display: block;
      box-sizing: border-box;
      height: screen;
      background-color: #0b1628;
      clip-path: ellipse(98% 49% at 49% 50%);
      width: 100%;
      }
  }
  
  

    /* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #060512;
  opacity: 1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(251, 191, 36);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(251, 191, 36, 0.5);
}

.myTextShadow {
  text-shadow: 2px 2px 5px #000000;
}

.show-on-scroll {
  opacity: 0;
  transition: all;
  transition-duration: 1000ms;
  transform: translate(100%, 0%);
}

.is-visible {
  opacity: 1;
  transform: translate(0%, 0%);
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
  transform: scale(0.92);
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1);
}

.frosty {
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
 }