<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Hello there! My name is Juan Diego, but I usually go by Juan <span class="italic">(or just 'one' if you prefer)</span>.
      I currently live in Ottawa, Canada and I'm a Full-Stack Developer.    </p>

    <p>
      I have work experience in <strong>implementing and maintaining microservices</strong> using
      Go, REST API's, Elasticsearch, and Kafka, among others. I also have experience using
      HTML/CSS, Typescript, React, Astro, Express, and Java. 
    </p>

    <p>
      Before becoming a developer, I was a <strong>Project Manager</strong> for 5+ years, experience which has
      helped me navigate through the fast-paced and iterative landscape of Software Development. 

    </p>
  </div>
  <img src="/me.png" class="rounded-full size-64 order-1 md:order-2" />
</section>