* {
    margin: 0;
    padding: 0;
}
.nav-item {
    cursor: pointer;
    font-family: 'Redressed', cursive;
}

.nav-link {
    text-transform: uppercase;
    color: whitesmoke !important;
    font-weight: 600;
}

.nav-link:hover {
    color: #FFAA00 !important;
}

.navbar {
    background-color: rgb(30, 30, 40) !important;
    width: 100%;
    display: flex;   
    position: fixed;
    z-index: 50;
    justify-content: space-around !important;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.navbar-nav {
    width: 100%;
    display: flex !important;
    align-content: space-around !important;
    justify-content: space-around !important;
}

.navbar-toggler {
    color: whitesmoke !important;
}

.navbar-toggler:hover {
    color: #FFAA00 !important;
}