.container1 {
    width: 100%;
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 100vh;
}

.heading-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.heading-container > h4 {
    font-family: "Redressed", cursive;
    color: #FFAA00;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    font-size: 2.125rem;
}

.top-row {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: stretch;
    justify-content: center;
}

#first {
    width: 50%;
    background-color: #ffaa00;
    text-align: center;
    transition: all 0.1s ease-in-out;
    font-size: xx-large;
    border-top-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

#first:hover {
    transform: scale(1.01) rotateZ(-1deg);;
    cursor: url("../images/cursor.png"), auto;
}

#second {
    width: 50%;
    background-color:  cornsilk;
    color: rgb(30, 30, 40);
    transition: all 0.1s ease-in-out;
    font-size: xx-large;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#second:hover {
    transform: scale(1.01) rotateZ(1deg);
    cursor: url("../images/cursor.png"), auto;
}

.bottom-row {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: stretch;
}

#third {
    width: 50%;
    background-color: rgb(30, 30, 40);;
    color: cornsilk;
    transition: all 0.1s ease-in-out;
    font-size: xx-large;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#third:hover {
    transform: scale(1.01) rotateZ(1deg);;
    cursor: url("../images/cursor.png"), auto;
}

#fourth {
    width: 50%;
    background-color: blueviolet;
    transition: all 0.1s ease-in-out;
    font-size: xx-large;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

#fourth:hover {
    transform: scale(1.01) rotateZ(-1deg);;
    cursor: url("../images/cursor.png"), auto;
}

img {
    box-shadow: 2px 2px 10px rgb(30, 30, 40);
    overflow: hidden;
    contain: content;
   
}

p {
    z-index: 3;
    font-family: 'Yeon Sung', cursive;
    font-size: min(2vw, 30px);
    font-weight: 400;
    text-shadow: 2px 2px 15px rgb(30, 30, 40);
    width: 40% !important;
    text-align: center;
    margin: 40px 60px 40px 60px;
}

#first > p {
    transform: rotateZ(0deg);
    min-width: 60%;
    flex: none;
    margin-left: 0;
    margin-right: 0;
}

#first > img {
    transform: rotateZ(-25deg);
    width: 25%;
    justify-self: start;
}

#second > p {
    transform: rotateZ(0deg);
    width: 50%;
}

#second > img {
    transform: rotateZ(-15deg);
    width: 30%;
    justify-self: start;
}

#third > p {
    transform: rotateZ(0deg);
    width: 50%;
    text-shadow: 2px 2px 15px rgba(255, 245, 238, 0.212);
}

#third > img {
    transform: rotateZ(20deg);
    width: 30%;
    justify-self: start;
    box-shadow: 2px 2px 10px rgba(255, 245, 238, 0.212);
}

#fourth > p {
    transform: rotateZ(0deg);
    min-width: 60%;
    margin-left: 0;
    margin-right: 0;
}

#fourth > img {
    transform: rotateZ(-30deg);
    width: 30%;
    justify-self: start;
}

@media only screen and (max-width: 768px) {
    .container1 {
        padding: 0px;
        background-color: rgba(255, 255, 255, 0);
    }

    .heading-container {
        margin-top: 4rem;
    }
    
    .heading-container > h4 {
        margin-bottom: 20px;
    }

    .top-row {
        margin-top: 10px;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .bottom-row {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    p {
        font-size: 15px;
        margin: 0;
    }

    #first {
        width: 100%;
        border-radius: 0;
        height: 300px;
    }
    #first > p {
        transform: rotateZ(0deg);
        padding-right: 20px;
    }
    #first > img {
        transform: rotateZ(0deg);
        width: 30%;
        justify-self: start;
    }

    #second {
        width: 100%;
        border-radius: 0;
        height: 300px;
    }
    #second > p {
        transform: rotateZ(0deg);
        padding-left: 20px;
    }
    #second > img {
        transform: rotateZ(0deg);
        width: 30%;
        justify-self: start;
    }

    #third {
        width: 100%;
        border-radius: 0;
        height: 300px;
    }
    #third > p {
        transform: rotateZ(0deg);
        padding-left: 20px;
    }
    #third > img {
        transform: rotateZ(0deg);
        width: 30%;
        justify-self: start;
    }

    #fourth {
        width: 100%;
        border-radius: 0;
        height: 300px;
    }
    #fourth > p {
        transform: rotateZ(0deg);
        padding-right: 20px;
    }
    #fourth > img {
        transform: rotateZ(0deg);
        width: 30%;
        justify-self: start;
    }

  }